/.triple-triad.log
/.triple-triad.cfg
/.triple-triad-profile
/.triple-triad-profiles/
*.ttsave

# Eclipse
/.settings/
/bin/
.metadata

# Gradle
.gradle/
build/

# IDEs
.idea/
*.iml
.vscode/

Thumbs.db
